# System
.DS_Store
Thumbs.db

# Defold
/.editor_settings
/.internal
/build
/bundle
log.txt

# VSCode
/.defold_api
/.vscode

# Operator
/walker

# Operator
/operator

# TrenchBroom
# /trenchbroom
**/autosave/*.map